@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 250 79% 95%;
    --foreground: 250 5% 10%;
    --card: 250 50% 90%;
    --card-foreground: 250 5% 15%;
    --popover: 250 79% 95%;
    --popover-foreground: 250 95% 10%;
    --primary: 250 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 250 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 212 30% 85%;
    --muted-foreground: 250 5% 40%;
    --accent: 212 30% 80%;
    --accent-foreground: 250 5% 15%;
    --destructive: 0 79% 40%;
    --destructive-foreground: 250 5% 90%;
    --border: 250 30% 50%;
    --input: 250 30% 40%;
    --ring: 250 0% 100%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 250 50% 10%;
    --foreground: 250 5% 90%;
    --card: 250 50% 10%;
    --card-foreground: 250 5% 90%;
    --popover: 250 50% 5%;
    --popover-foreground: 250 5% 90%;
    --primary: 250 0% 100%;
    --primary-foreground: 0 0% 0%;
    --secondary: 250 30% 20%;
    --secondary-foreground: 0 0% 100%;
    --muted: 212 30% 25%;
    --muted-foreground: 250 5% 60%;
    --accent: 212 30% 25%;
    --accent-foreground: 250 5% 90%;
    --destructive: 0 79% 40%;
    --destructive-foreground: 250 5% 90%;
    --border: 250 30% 40%;
    --input: 250 30% 40%;
    --ring: 250 0% 100%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.mdxeditor-toolbar {
  background: rgba(255, 255, 255, 0.19) !important;
  border-radius: 0.375rem 0.375rem 0 0 !important;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
  backdrop-filter: blur(0px) !important;
  -webkit-backdrop-filter: blur(0px) !important;
  border: 1px solid rgba(255, 255, 255, 0.14) !important;
}

.mdxeditor-diff-source-wrapper,
.mdxeditor-rich-text-editor,
.mdxeditor-root-contenteditable,
._contentEditable_uazmk_379 {
  height: 100%;
}
